@page
@model RedSkullApp.Pages.Clients.IndexModel
@{
}

<br />
// TITLE OF PAGE
<h2>list of Clients</h2>
// ADDS BTN FOR CREATING NEW CLIENTS
<a class='btn btn-primary btn-sm' href='/Clients/Create'>New Client</a>
// TABLE FOR CLIENTS PAGE
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Creaded At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
